html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

.container {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.left-panel {
}

.single-item {
  /* display: grid;
  grid-template-columns: 1fr 10fr 2fr 1fr 2fr 1fr;
  justify-items: center;
  align-items: center; */
  width: 100%;
}

.item-name-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.single-cart-item {
  display: grid;
  grid-template-columns: 5fr 2fr ;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.head {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
}

.head-name {
  margin: 2px;
  grid-column: 1/5;
  grid-row: 1/2;
  text-align: center;
}

.head-add {
  margin: 2px;
  grid-column: 8/9;
  grid-row: 1/2;
  align-self: center;
  text-align: center;
}

.head-count {
  margin: 2px;
  grid-column: 9/10;
  grid-row: 1/2;
  align-self: center;
  text-align: center;
}

.head-remove {
  margin: 2px;
  grid-column: 10/11;
  grid-row: 1/2;
  text-align: center;
  align-self: center;
}

.header-options{
  display: flex;
  align-items: center;
}

.item-body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1f);
  grid-gap: 10px;
  width: 100%;
}

.item-style {
  margin: 2px;
  grid-column: 1/7;
  grid-row: 2/3;
  text-align: center;
}
.item-abv {
  margin: 12px;
  text-align: center;
  grid-column: 1/3;
  grid-row: 4/5;
  color: azure;
  background: #7a9dca;
}
.item-ibu {
  margin: 12px;
  text-align: center;
  color: azure;
  grid-column: 3/5;
  grid-row: 4/5;
  background: #7a9dca;
}
.item-ounces {
  color: azure;
  margin: 12px;
  text-align: center;
  grid-column: 5/7;
  grid-row: 4/5;
  background: #7a9dca;
}